/*
页面原有格式重置
*/
body, div, span, p, h1, h2, h3, h4, h5, h6, input, form, ol, ul, li , button, footer,header, section, :after, :before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul,li,ol {
  list-style: none;
}

html,body{
  background-color: #f6f6f6;
}
